@import './form.scss';
@import './base.scss';

body {
    #app {
        height: 100%;
    }

    .grid {
        height: 100%;
    }
}

.padded {
    @extend %padded;
}

.borderless {
    border: 0;
}

.fade-enter {
    opacity: 0.01;

    &.fade-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
}

.fade-leave {
    opacity: 1;

    .fade-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
    }
}
