@import '~variables';

.page-account {
    color: #333;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, $color-light, $color-dark);

    .ui {
        h2 {
            color: $color-light !important;
        }

        button {
            background-color: $color-light !important;
            color: #fff;
        }

        &.grid {
            margin-top: 0;

            .column {
                max-width: 450px;
            }
        }
    }
}
